#*
 * ========================================================================
 * PlantUML : a free UML diagram generator
 * ========================================================================
 *
 * (C) Copyright 2009, Arnaud Roques
 *
 * Project Info:  http://plantuml.sourceforge.net
 *
 * This file is part of PlantUML.
 *
 * PlantUML is free software; you can redistribute it and/or modify it
 * under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * PlantUML distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
 * or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Lesser General Public
 * License for more details.
 *
 * You should have received a copy of the GNU General Public
 * License along with this library; if not, write to the Free Software
 * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301,
 * USA.
 *
 * [Java is a trademark or registered trademark of Sun Microsystems, Inc.
 * in the United States and other countries.]
 *
 * Original Author:  Arnaud Roques
 *#

What is this?

    This simple command line tool looks at Java JAR files and determine inspect API changes.
    You might download self contained JAR file from {{{https://github.com/downloads/jeluard/semantic-versioning/semver-${project.version}.jar}github}}.


Diff

    Dumps all changes between two JARs on standard output.

-----------------------------
% java -jar semantic-versioning-${project.version}.jar previousJar currentJar (includes) (excludes)
Class org.project.MyClass
 Added Class 
Class org.project.MyClass2
 Added Method method1
 Removed Field field1
 Changed Field field2 removed: final

-----------------------------

Check

    Checks compatibility type between two JARs.

-----------------------------
% java -jar semantic-versioning-${project.version}.jar previousJar currentJar (includes) (excludes)
BACKWARD_COMPATIBLE_IMPLEMENTER
-----------------------------

Infer

    Infers JAR version based on a previously versioned JAR.

-----------------------------
% java -jar semantic-versioning-${project.version}.jar previousVersion previousJar currentJar (includes) (excludes)
1.0.0
-----------------------------

Validate

    Validates JAR version based on a previously versioned JAR.

-----------------------------
% java -jar semantic-versioning-${project.version}.jar previousVersion previousJar currentVersion currentJar (includes) (excludes)
true
-----------------------------
